* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
}

#name {
    height: 26px;
}

#email {
    height: 26px;
}

#password {
    height: 26px;
}

#dob {
    height: 26px;
    width: 165px;
}

#nameBox {
    padding-left: 120px;
    height: 26px;
}

#emailBox {
    padding-left: 121px;
    height: 26px;
}

#passBox {
    padding-left: 89px;
    height: 26px;
}

#dobBox {
    padding-left: 60px;
    height: 26px;
}

#nameDiv {
    display: flex;
    margin-top: 21px;
    padding-left: 100px;
}

#emailDiv {
    display: flex;
    margin-top: 21px;
    padding-left: 100px;
}

#passwordDiv {
    display: flex;
    margin-top: 21px;
    padding-left: 100px;
}

#dobDiv {
    display: flex;
    margin-top: 21px;
    padding-left: 100px;
}

#termsDiv {
    display: flex;
    padding-left: 5px;
}

#termsBox {
    display: flex;
    padding-top: 16px;
    padding-left: 100px;

}

.container {
    margin-top: 3%;
    display: inline-block;
    width: 40%;
    padding: 8px 8px 8px 8px;
    border: 2px solid gray;
}

.box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.input {
    font-size: 20px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#submitBtn {
    display: flex;
    padding-left: 97px;
    padding-top: 23px;
}

#submit:hover{
    background-color:rgb(193, 204, 199);
}

#submit {
    width: 86px;
    height: 35px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0ch;
    border-radius: 10px;
    background-color:rgb(198, 222, 210);
}

/* table CSS start from here*/

table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    /* background-color: grey; */
}

table,
th,
td {
    border: 2px solid black;
    padding: 15px;
}

th {
    font-size: 16px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

td {
    font-size: 16px;
    font-family: Times New Roman, Helvetica, sans-serif;
    font-weight: 300;
}